@model List<Event>

<h3>Events</h3>

@if (Model != null)
{
    <div class="row">
        @foreach (var ev in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">@ev.Name</h5>
                        <p class="card-text"><strong>Description:</strong> @ev.Description</p>
                        <p class="card-text"><strong>Final Date:</strong> @ev.Date</p>
                        <p class="card-text"><strong>Priority:</strong> @ev.PriorityLevel</p>
                        <p class="card-text"><strong>ID:</strong> @ev.EventId</p>
                        <p class="card-text"><strong>SubjectId:</strong> @ev.SubjectId</p>
                        <p class="card-text"><strong>UserId:</strong> @ev.UserId</p>
                        <div class="d-flex justify-content-between">
                            <a class="btn btn-primary" asp-action="UpdateEv" asp-route-eventId="@ev.EventId">Edit</a>
                            <a class="btn btn-danger" asp-action="DeleteEv" asp-route-eventId="@ev.EventId">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <br />
    <div class="mb-5">
        <a class="btn btn-success" asp-action="addEvent">Create New Event</a>
    </div>
}