@{
    ViewData["Title"] = "Przedmioty";
}
@model List<Subject>

<h3>Przedmioty</h3>

@if(Model != null)
{
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var subject in Model)
        {
            <div class="col">
                <div class="card h-100 position-relative">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@subject.Name</h5>
                        <p class="card-text"><strong>Ilość ECTS:</strong> @subject.Ects</p>
                        <p class="card-text"><strong>Priorytet:</strong> @Html.DisplayFor(model => subject.PriorityLevel)</p>
                        <p class="card-text"><strong>Zaliczenie:</strong> @subject.PassingType</p>
                        <div class="mt-auto d-flex justify-content-between">
                            <a href="#" class="btn btn-primary edit-subject-btn" data-id="@subject.SubjectId">Edytuj</a>
                            <a class="btn btn-danger" asp-action="DeleteSub" asp-route-subjectId="@subject.SubjectId">Usuń</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <br />
    <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addSubjectModal">Nowy przedmiot</button>

    <div class="modal fade" id="addSubjectModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Dodaj przedmiot</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zamknij"></button>
                </div>
                <div class="modal-body">
                    @await Html.PartialAsync("AddSubject", new Subject())
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editSubjectModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edytuj wydarzenie</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body" id="editSubjectModalContent">
                </div>
            </div>
        </div>
    </div>

}
