@{
    ViewData["Title"] = "Przedmioty";
}
@model List<Subject>

<h3>Subjects</h3>

@if(Model != null)
{
    <div class="row">
        @foreach (var subject in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">@subject.Name</h5>
                        <p class="card-text"><strong>Ilość ECTS:</strong> @subject.Ects</p>
                        <p class="card-text"><strong>Priorytet:</strong> @Html.DisplayFor(model => subject.PriorityLevel)</p>
                        <p class="card-text"><strong>ID:</strong> @subject.SubjectId</p>
                        <div class="d-flex justify-content-between">
                            <a class="btn btn-primary" asp-action="UpdateSub" asp-route-subjectId="@subject.SubjectId">Edytuj</a>
                            <a class="btn btn-danger" asp-action="DeleteSub" asp-route-subjectId="@subject.SubjectId">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <br />
    <div class="mb-5">
        <a class="btn btn-success" asp-action="addSubject">Create New Subject</a>
    </div>
}